a {
    color: lightcoral;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    }

a:last-child {
    color: lightpink;
      }

body {
  color: white;
  background-color: black;
}

p.intro {
  color: lightyellow;
  font-weight: bolder;
  margin: 0px;
}

p {
  color:lightseagreen;
}

p.skills {
  color: goldenrod;
}

span {
  color: hotpink;
}

h1 {
    color: lightpink;
    font-weight: bolder;
}

h2 {
  color: lightyellow;
  font-weight: bolder;
}

div {
  margin: 10px;
}

.imageBox {
    display: flex;
    align-items: center;
    width: 800px;
    height: 300px;
    background-color:  rgb(255, 0, 102);
    border-radius: 75px;
}

img {
  height: 225px;
  width: 225px;
  padding: 15px;
  padding-left: 35px;
  border-radius: 150px;
}

.dates {
  color: lightslategrey;
  font-weight: lighter;
}

.headerBox {
    display: flex;
    padding-top: 20px;
    height: max-content;
    width: 800px;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #283845;
    border-radius: 10px;
    height: 250px;
    width: 500px;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    background-color: #283845;
    border-radius: 50px;
    margin: 15px;
}

.projectsContainerText {
    margin: 0px;
    padding: 25px;
}

.experienceContainer {
    display: flex;
    flex-direction: column;
    background-color: #283845;
    border-radius: 50px;
    margin: 15px;
}

.experienceContainerText {
    margin: 0px;
    padding: 25px;
}

.educationContainer {
    display: flex;
    flex-direction: column;
    background-color: #283845;
    border-radius: 50px;
    margin: 15px;
}

.educationContainerText {
    margin: 0px;
    padding: 25px;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    background-color: #283845;
    border-radius: 50px;
    margin: 15px;
}

.skillsContainerText {
    margin: 0px;
    padding: 25px;
}