a {
    color: lightcoral;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    }

a:last-child {
    color: lightpink;
      }

body {
  color: white;
  background-color: black;
}

p.intro {
  color: darkslategrey;
  font-weight: bolder;
  margin: 0px;
}

p {
  color:lightseagreen;
}

p.skills {
  color: goldenrod;
}

span {
  color: hotpink;
}

h1 {
    color: grey;
    font-weight: bolder;
}

h2 {
  color: white;
  font-weight: bolder;
}

div {
  margin: 10px;
}

img {
  height: 250px;
  width: 250px;
}

.dates {
  color: lightsalmon;
  font-weight: lighter;
}

.headerBox {
    display: flex;
    justify-content: space-between;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dedbd2;
    border-radius: 10px;
    height: 250px;
    width: 500px;
}

.greetingHello {
    margin: 0px;
    padding: 10px;
}

.imageBox {
    padding-top: 0px;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    background-color: #dedbd2;
    border-radius: 10px;
}

.projectsContainerText {
    margin: 0px;
    padding: 25px;
}

.experienceContainer {
    display: flex;
    flex-direction: column;
    background-color: #dedbd2;
    border-radius: 10px;
}

.experienceContainerText {
    margin: 0px;
    padding: 25px;
}

.educationContainer {
    display: flex;
    flex-direction: column;
    background-color: #dedbd2;
    border-radius: 10px;
}

.educationContainerText {
    margin: 0px;
    padding: 25px;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    background-color: #dedbd2;
    border-radius: 10px;
}

.skillsContainerText {
    margin: 0px;
    padding: 25px;
}